.log-in {
    width: 20vw; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 15vh;
}
.log-in-form {
    display: grid;
    row-gap: 20px;
}


.log-in h2 {
    text-align: center;
}

.log-in-error {
    font-size: smaller;
    color: red;
}