
.company-list-form {
    display: grid;
    grid-template-columns: 1.8fr .1fr;
    column-gap: 5px;
    width: 60vw; 
    background-color: white;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5%;
}